/* static */
select.js-select2,
.select2-hidden-accessible {
    display: none;
}
.select2-container {
    display: inline-block;
    border: 1px solid #bacad6;
    border-radius: .5rem;
    background: white;
}
.select2-container.select2 {
    /* Style for only static select2 */
    width: 100%;
    max-width: 400px;
}
.select2-container:not(.select2) {
    /* Style for only aboslute select2 */
    z-index: 1000;
}

.select2-selection {
    position: relative;
    display: block;
}
.select2-selection--single .select2-selection__rendered {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-height: 2.2rem;
    padding: 0 2.75rem 0 0.75rem;
    cursor: pointer;
    width: 100%;
}
.select2-selection--multiple .select2-selection__rendered {
    margin: 0;
    padding: 0;
    width: 100%;
}
.select2-selection__choice {
    display: inline-block;
    position: relative;
    background: #53b783;
    padding: 3px 29px 3px 9px;
    border-radius: .5rem;
    margin: .3rem 0 0 .3rem;
    color: white;
    font-size: 0.9em;
}
.select2-selection__arrow {
    position: absolute;
    top: calc(50% - 4px);
    right: 0.75rem;
    transform: rotate(225deg);
}
.select2-selection__arrow::before {
    content: '';
    display: block;
    width: 6px;
    height: 6px;
    box-shadow: inset 2px 2px #a3858e;
}
.select2-selection__clear,
.select2-selection__choice__remove {
    position: absolute;
    top: calc(50% - 0.76em);
    right: 1.4rem;
    color: red;
    font-size: 1.5rem;
    font-weight: bold;
    border: none;
    background: none;
    z-index: 1;
}
.select2-selection__choice__remove {
    right: 0.4rem;
    font-size: 1.2rem;
    font-weight: normal;
}
.select2-selection__placeholder {
    color: #a3858e;
}
.select2-container--open .select2-selection__arrow {
    top: calc(50% - 1px);
    transform: rotate(45deg);
}
.select2-container--disabled {
    user-select: none;
    background: #e5e5e5;
    color: #a3858e;
}
.select2-container--disabled .select2-selection {
    cursor: default;
}


/* dropdown */
.select2-dropdown {
    display: block;
    background: white;
    border-radius: .5rem;
}
.select2-search {
    display: block;
    padding: .3rem;
}
.select2-search--hide {
    display: none;
}
.select2-search__field {
    width: 100% !important;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    height: 2.2rem;
    border-radius: .5rem;
    border: 1px solid #bacad6;
}
.select2-search__field:active,
.select2-search__field:focus {
    outline: none;
    box-shadow: 0 0 7px #4099de;
}
.select2-results__options {
    margin: 0;
    padding: 0;
    max-height: 250px;
    overflow-y: auto;
}
.select2-results__option {
    cursor: pointer;
    padding: 0.25rem 0.75rem;
}
.select2-results__option--selected {
    background: #ede5f5;
}
.select2-results__option:hover {
    background: #ced5ff;
}
.select2-results__option[aria-disabled=true] {
    user-select: none;
    background: #e5e5e5;
}
